<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<h4><%= link_to "Go back to restaurants", restaurants_path %></h4>

<h4><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></h4>

<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> - <%= review.rating %> Stars</li>
  <% end %>
</ul>
